@page "{id:int?}"
@model EmployeeDepartmentSkillGenderManagementSystem.UI.Pages.SkillList.DeleteModel
@{
    ViewData["Title"] = "Delete Skill";
}

<h2 class="display-4 mt-2" style="font-size:7vw">
    Delete Skill<i class="oi oi-delete" style="font-size:40px"></i>
</h2>
<hr />
<form method="post">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card-deck">
                <div class="card mt-2">
                    <div class="card-header">
                        <h2 class="display-4 text-center">
                            @Model.Skill.SkillName

                        </h2>
                    </div>
                    <div class="card-footer text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-secondary w-100" asp-page-handler="CheckDelete">
                                    Confirm Delete
                                </button>
                                <a asp-page="Index" class="btn btn-primary w-100 mt-2">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</form>

@if (Model.ShowModal)
{

}
else
{
    <form method="post">
        <div class="modal show d-block" id="customModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            @Model.Skill.SkillName
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this skill?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-danger" data-dismiss="modal" asp-page-handler="OnPost">
                            Delete
                        </button>
                        <a class="btn btn-outline-primary" asp-page="Delete">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
