@page "{id:int?}"
@model EmployeeDepartmentSkillGenderManagementSystem.UI.Pages.SkillList.DetailsModel
@{
    ViewData["Title"] = "Skill Details";
}

<h2 class="display-4 mt-2" style="font-size:7vw">
    Skill Details<i class="oi oi-info" style="font-size:40px"></i>
</h2>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-deck">
            <div class="card mt-2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header">
                    <h2 class="display-4 text-center">
                        @Model.Skill.SkillName
                    </h2>
                </div>
                <div class="card-footer text-center">
                    <a asp-page="Index" class="btn btn-outline-info btn-sm mb-2">Back</a>
                    <a asp-page="Edit" asp-route-id="@Model.Skill.SkillId" class="btn btn-outline-primary btn-sm mb-2">Edit</a>
                    <a asp-page="Delete" asp-route-id="@Model.Skill.SkillId" class="btn btn-outline-danger btn-sm mb-2">Delete</a>
                </div>

            </div>
        </div>


    </div>
</div>
